<div class='container'>
  <form method='post' action="/<%= @id %>/edit" class='form'>
    <input type="hidden" name="_method" value="patch">
    <input type='text' name='title' value="<%= @json[@id - 1]["title"] %>" class='text'>
    <textarea name='content' class='textarea'><%= @json[@id - 1]["content"] %></textarea>
    <div>
      <input type='submit' value='保存' class='button'>
    </div>
  </form>
</div>
