<div class='container'>
  <form method='post' action="/<%= @id %>/edit" class='form'>
    <input type="hidden" name="_method" value="patch">
    <input type='text' name='title' value="<%= CGI.escapeHTML(@all_memos[@id]["title"]) %>" class='text'>
    <textarea name='content' class='textarea'><%= CGI.escapeHTML(@all_memos[@id]["content"]) %></textarea>
    <div>
      <input type='submit' value='保存' class='button'>
    </div>
  </form>
</div>
