<div class='container'>
  <ol>
    <% @all_memos.each do |memo| %>
      <li>
        <a href="/<%= memo['id'] %>">
          <%= CGI.escapeHTML(memo['title']) %>
        </a>
      </li>
    <% end %>
  </ol>
  <a href='/new'>新規メモ</a>
</div>
