<div class='container'>
  <ol>
    <% @json.each do |k, v| %>
      <li>
        <a href="/<%= k %>">
          <%= v["title"] %>
        </a>
      </li>
    <% end %>
  </ol>
  <a href='/new'>新規メモ</a>
</div>
