<form method='post' action='/' class='form'>
  <input type='text' name='title' class='text'>
  <textarea name='content' class='textarea'></textarea>
  <div>
    <input type='submit' value='作成' class='button'>
  </div>
</form>
