<form method='post' action='/' style='text-align :center'>
  <input type='text' name='title' class='text'>
  <textarea name='content' style='width:80%;height:300px;font-size:1.5em;margin:20px;'></textarea>
  <div style='text-align :center'>
    <input type='submit' value='作成' class='button'>
  </div>
</form>
