<div class='container'>
  <p>
    <strong>Title : </strong>
    <%= @json[@id - 1]["title"] %>
  </p>
  <p>
    <strong>Content : </strong>
    <%= @json[@id - 1]["content"] %>
  </p>

  <div class='button'>
    <a href="/<%= @id %>/edit">変更</a>
  </div>
</div>
